
.sudamerica_map svg {
  stroke: #212529;
}
.sudamerica_map svg path {
  fill: #1d8cf8;
  cursor: pointer;
  outline: none;
  transition: 0.2s all ease-in-out;
}
.sudamerica_map svg path:hover {
  fill: #fd5d93;
  /*transform: translateY(-2px);
  z-index: 10;*/
}

.sudamerica_map svg {
  stroke-width: 0.03em;
}

